.more-screen .icon-row {
  margin-top: 35px;
}
.more-screen {
  height: 300vh;
}
.more-suggestions {
  margin: 20px 0px;
  border-top: var(--border-main);
  border-bottom: var(--border-main);
  padding: 20px 0px;
}
.more-suggestions__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-suggestions__icon {
  align-items: center;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.more-suggestions__icon-image {
  margin-bottom: 10px;
  background-color: #107a92;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: whitesmoke;
}

.ani-ost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}
.ani-ost__music {
  font-size: 28px;
  font-weight: 700;
}

.ani-ost__text {
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 700;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.ani-ost__text span:first-child {
  font-size: 30px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
}
.ani-ost__text span:last-child {
  font-size: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}
.ani-ost__text span {
  display: block;

  margin-top: 15px;
}

.ani-ost img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px;
  display: block;
}
.ani-ost-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: recode 5s linear infinite;
}
.ani-ost-recode {
  margin: 10px 0px;
  padding: 0px 20px;
  font-size: 40px;
  margin-top: 30px;
}

.ani-ost-recode i {
  padding: 10px 30px;
}

@keyframes recode {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: none;
  }
}
