.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600px;
  animation: none;
}
