#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  top: 0px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  flex-direction: column;
}
#no-mobile span {
  display: block;
  margin: 20px;
  font-weight: 900;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

@keyframes CharacterBounce {
  0% {
    top: 0;
  }
  25% {
    top: -30px;
  }
  75% {
    top: -55px;
  }
  100% {
    top: 0;
  }
}
#no-mobile img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: CharacterBounce 0.5s linear infinite;
}
#no-mobile img:nth-child(2) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation-delay: 0.4s;
}
#no-mobile img:last-child {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation-delay: 0.3s;
}
